@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
    
  }

  *, *::before, *::after {
    box-sizing: inherit;
      
  }

body {
    margin: 0;
    
}

.venus {
    width: 100%;
    display: block;
    
}

h1 {
    text-align: center;
    
}

h5 {
    background-color: #e3e3e3;
    font-size: 2em;
    padding: .5em;
    text-align: center;
    
}

.nav {
    list-style: none;
    margin: 1;
    
}

nav a:hover {
    background-color: blue;
    color: white;
    padding: 1rem;
    
}

nav a {
    text-decoration: none;
    color: blue;
    
}

.masthead {
    background-color: lightgrey;
     
}

.planets {
    width: 100%;
}

.footer {
    background-color: #e3e3e3;
    
}

footer ol {
    list-style: none;
    
}

ul {
    padding: 0;
    list-style-type: none;
    
}

h2, h3 {
    background-color: #e3e3e3;
    
}

.probes {
    background-color: #e3e3e3;
    
.

@media only screen and (min-width:35em) {


    .nav li {
        display: inline-block;
        list-style-type: none;
    }

}