@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }



header {
    background-color: lightgrey;
    
}

.nav {
    list-style: none;
    color: blue;
}

li {
    list-style: none;
    
}

body {
    margin: 0;

}

.venus {
    width: 100%;
    
}

@media only screen and (min-width: 20em) {
    h1 {
        text-align: center;
    
}
}

@media only screen and (min-width: 40em) {
    h1 {
        text-align: left;
        
        
}
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}